[Unit]
Description=Run youtube_rss_updater.service on a schedule

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Unit=youtube_rss_updater.service
Persistent=true

[Install]
WantedBy=timers.target
